
<h1>El clima en <%= city %></h1>
<p>Temperatura: <%= temp %> °C</p>
<p>Descripción: <%= description %></p>
<img src="<%= imageUrl %>" alt="Icono del clima">
<br>
<a href="/">Regresar a la página principal</a>
